$section-colored: #ffe7d2;
$text-border-color: #58402c;
$button-link-color: #30488f;
$button-color-hover: #233569;
$link-color-hover: #263972;


// new _colors

// 7f14d4
// 0e14ee
// 4466d4
// 040f0f
$biancoPerla: #ffff;

$violaAcceso: #7f14d4;
//viola acceso


$bluAcceso: #0e14ee;
// blu acceso


$azzurroCielo: #4466d4;
// azzurro cielo


$neroCliente: #040f0f;
//nero
