$section-colored: #ffe7d2;
$text-border-color: #58402c;
$button-link-color: #30488f;
$button-color-hover: #233569;
$link-color-hover: #263972;


// new _colors

$biancoPerla: #ffff;
$violaAcceso: #7f14d4;
$bluAcceso: #0e14ee;
$azzurroCielo: #4466d4;
$neroCliente: #040f0f;

#section1 {
  background-color: $biancoPerla;
}
#section2 {
  background-color: $azzurroCielo;
}
#section3 {
  background-color: $biancoPerla;
}
#section4 {
  background-color: $azzurroCielo;
}
#section5 {
  background-color: $biancoPerla;
}
