* {
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
}




#section1 {
  h1 {
    font-size: 45px;
  }
  p {
    font-size: 20px;
  }
}

#section2 {
  h2 {
    font-size: 30px;
  }
  // p {
  //   font-size: 20px;
  // }
}

#section3 {
  h2 {
    font-size: 30px;
  }
  p {
    font-size: 20px;
  }
}

#section4 {
  h1 {
    font-size: 40px;
  }
  h3 {
    font-size: 20px;
  }
  p {
    font-size: 18px;
  }
}

#section5 {
  ul {
    li {
      font-size: 12px;
      padding-bottom: 5px;
    }
  }
}
