#section1 {
  background-color: $biancoPerla;
}

.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  padding-bottom: 20px;
  margin-bottom: 100px;
  a {
    color: $neroCliente;
  }

  li {
    margin-right: 50px;
    color: $neroCliente;
  }

}

.headerR-ul {
  display: flex;
  justify-content: flex-end;
}
// _________________________________________________

.jumbotron {
  display: flex;
  color: $neroCliente;
  a {
    color: $neroCliente;
  }
}

.jumboLeft, .jumboRight {
  width: 50%;
}

.jumboRight {
  img {
    max-width: 100%;
    max-height: auto;
  }
}
