.s3row {
  max-width: 100%;

  .s3bigImage {
    width: 768px;
  }

  .s3content {
    width: 420px;
  }

  .s3bigImage {
    img {
      max-width: 100%;
    }
  }

  > div {
    display: flex;
    justify-content: center;
  }

}
