.s3row {
  max-width: 100%;
  .s3bigImage, .s3content {
    max-width: 50%;
  }

  .s3bigImage {
    img {
      max-width: 100%;
    }
  }

  > div {
    display: flex;
    justify-content: center;
  }

}
