#section1 {
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
  padding-bottom: 20px;
  margin-bottom: 100px;
  a {
    color: $neroCliente;
  }

  li {
    margin-left: 40px;
    color: $neroCliente;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

}

.headerR-ul {
  display: flex;
  justify-content: flex-end;
}
// _________________________________________________

.jumbotron {
  display: flex;
  color: $neroCliente;
  a {
    color: $neroCliente;
  }
}

.jumboLeft, .jumboRight {
  width: 50%;
}

.jumboLeft > div {
  padding-bottom: 40px;
}

.jL-buttons {
  padding-bottom: 20px;
}


.jumboRight {
  img {
    max-width: 100%;
    max-height: auto;
  }
}
