@import "_colors";
@import "_font";
@import "_section1";
@import "_section2";
@import "_section3";
@import "_section4";
@import "_section5";
// @import "_helpCenter";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
// id del container
#app {
  max-width: 100%;
  height: 100vh;
}



// common
.container-1-2-4-5 {
  margin-top: 100px;
  margin-bottom: 100px;
  max-width: 1150px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 25px;
}


// iconcina 18 x 18
button {
  color: $biancoPerla;
  background-color: $violaAcceso;
  border: 2px solid $bluAcceso;
  border-radius: 5px;
  padding: 10px;
}

button:hover {
  background-color: $bluAcceso;
  cursor: pointer;
}

li {
  list-style: none;
}


i {
  color: $neroCliente;
  margin-left: 10px;
}

a {
  text-decoration: none;
}

a:hover {
  color: $bluAcceso;
  cursor: pointer;
}
